# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.old/cpp_version/build/
.old/cpp_version/.vscode/
/in_one_weekend/target/
/in_one_weekend/output.ppm
/in_one_weekend/Cargo.lock
/the_next_week/target/
/the_next_week/output.ppm
/the_next_week/Cargo.lock
