# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cpp_version/build/
cpp_version/.vscode/
rust_version/in_one_weekend/target/
rust_version/in_one_weekend/output.ppm
rust_version/in_one_weekend/Cargo.lock
rust_version/the_next_week/target/
rust_version/the_next_week/output.ppm
rust_version/the_next_week/Cargo.lock
